# ============================
# Python
# ============================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# ============================
# Node
# ============================
node_modules/
.next/
dist/

# Logs
*.log

# OS
.DS_Store